{% extends 'base.html' %}
{% load static %}
{% block content %}
      <main role= "main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div> -->
        </div>
        <!-- dashboard part -->
        <div class="row">
          {% for queries in query %}
          <div class="col-md-4 my-2 shadow bg-body rounded">
        <div class="card">
          <div class="card-body" style="height:10rem">
            <h5 class="card-title">Year: {{ queries.year }}</h5>
                <p class="card-text">Semester: {{ queries.semester }}</p>
                <p class="card-text">Subject: {{ queries.subject }}</p>
          </div>
          <div class="card-footer mb-2">
            <div class="block-inline">
                  <a href="{% url 'view_question' queries.subject %}" class="btn btn-primary">View Questions</a>
                <a href="{% url 'delete_test' queries.subject %}" class="btn btn-primary">Delete Test</a>
                </div>
          </div>
        </div>
      </div>
          {% endfor %}
          <!--  -->
        </div>
      </main>
{% endblock %}