{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Class Performance : {{subject}}</h1>
    <div class="row">
      <div class="container mt-3">
	<div class="row justify-content-center">
		<!-- <div class="m-5 shadow p-3 mb-5 bg-body rounded"> -->
		<div class="col-md-4 my-2">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title">Total Score</h5>
					<div>
						<div class="card-body">
							<canvas
								id="total_chart"
								width="400"
								height="400"
							></canvas>
						</div>
            <div class="card-footer text-center">
              <h5 class="card-title">
                Score : {{ total_marks }} / {{ total }}
              </h5>
          </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 my-2">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title">Knowledge Score</h5>
					<div>
						<div class="card-body">
							<canvas
								id="k_chart"
								width="400"
								height="400"
							></canvas>
						</div>
            <div class="card-footer text-center">
              <h5 class="card-title">
                Score : {{ k_c }} / {{ k }}
              </h5>
            </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 my-2">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title">Understanding Score</h5>
					<div>
						<div class="card-body">
							<canvas
								id="u_chart"
								width="400"
								height="400"
							></canvas>
						</div>
            <div class="card-footer text-center">
              <h5 class="card-title">
                Score : {{ u_c }} / {{ u }}
              </h5>
            </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 my-2">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title">Application Score</h5>
					<div>
						<div class="card-body">
							<canvas
								id="app_chart"
								width="400"
								height="400"
							></canvas>
						</div>
            <div class="card-footer text-center">
              <h5 class="card-title">
                Score : {{ app_c }} / {{ app }}
              </h5>
            </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 my-2">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title">Analysis Score</h5>
					<div>
						<div class="card-body">
							<canvas
								id="a_chart"
								width="400"
								height="400"
							></canvas>
						</div>
            <div class="card-footer text-center">
              <h5 class="card-title">
                Score : {{ a_c }} / {{ a }}
              </h5>
            </div>
					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->
	</div>
</div>
    </div>
  </div>


  <!-- Create class -->

  
  <div>
    <h1 class="h2">Grades</h1>
    <table class="table">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Marks Obtained</th>
          <th scope="col">Out off</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            <td>{{row.Name}}</td>
            <td>{{row.score}}</td>
            <td>{{row.total}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
      var ctx = document.getElementById('total_chart').getContext('2d');
      var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['Correct', 'Incorrect'],
          datasets: [{
              label: '# of Votes',
              data: ["{{ total_marks }}","{{total}}" - "{{total_marks}}"],
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1
          }]
      },
  });
      var k_ctx = document.getElementById('k_chart').getContext('2d');
      var k_chart = new Chart(k_ctx, {
      type: 'pie',
      data: {
          labels: ['Correct', 'Incorrect'],
          datasets: [{
              label: 'Marks',
              data: ["{{ k_c }}","{{k}}" - "{{k_c}}"],
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1
          }]
      },
  });
      var u_ctx = document.getElementById('u_chart').getContext('2d');
      var u_chart = new Chart(u_ctx, {
      type: 'pie',
      data: {
          labels: ['Correct', 'Incorrect'],
          datasets: [{
              label: 'Marks',
              data: ["{{ u_c }}","{{u}}" - "{{u_c}}"],
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1
          }]
      },
  });
      var a_ctx = document.getElementById('a_chart').getContext('2d');
      var a_chart = new Chart(a_ctx, {
      type: 'pie',
      data: {
          labels: ['Correct', 'Incorrect'],
          datasets: [{
              label: 'Marks',
              data: ["{{ a_c }}","{{a}}" - "{{a_c}}"],
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1
          }]
      },
  });
      var app_ctx = document.getElementById('app_chart').getContext('2d');
      var app_chart = new Chart(app_ctx, {
      type: 'pie',
      data: {
          labels: ['Correct', 'Incorrect'],
          datasets: [{
              label: 'Marks',
              data: ["{{ app_c }}","{{app}}" - "{{app_c}}"],
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1
          }]
      },
  });
</script>
{% endblock %}