{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Reports</h1>
    <div class="row">
      {% for al in a %}
      <div class="col-md-4 m-5 shadow p-3 mb-5 bg-body rounded">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Year: {{ al.year }}</h5>
            <h5 class="card-title">Semester: {{ al.semester }}</h5>
            <h5 class="card-title">Subject: {{ al.subject }}</h5>
            <a class="btn btn-primary btn-block" href="{% url 'performance' al.subject %}">View Performance</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}